<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4" href="/">MODU</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="/project/search">MODU 모여라</a>
                    <a class="nav-item nav-link" href="/developer/search">MODU 어딨니</a>
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    {% if user.is_authenticated %}
                    <a class="nav-item nav-link" href="#">Profile</a>
                    <a class="nav-item nav-link" href="/logout">Logout</a>
                    {% else %}
                    <a class="nav-item nav-link" href="/signup">Sign Up</a>
                    <a class="nav-item nav-link" href="/login">Log In</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>