<main role="main" class="container">
    <div class="row">
        <form class="form-inline ml-auto">
            <button type="submit" class="btn btn-primary mr-2">+ Add Project</button>
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    <div class="row">
        {% for post in posts %}
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            {% block post-content %}
            {% endblock %}
        </div>
        {% endfor %}
    </div>
</main>