{% extends "base.html" %}

{% block content %}
<div class="content">
    <h1> Developer List </h1>
    {% for developer in assessment_developer_list %}
    <h4><a herf="{% url 'assessment' developer.member_of.p_id developer.u_id %}"> {{developer.username}} </a></h4>
    {% endfor %}


    <div>
    <span>
        {% if page_obj.has_previous %}
            <a href="?page = {{page_obj.previous_page_number}}">Previous Page</a>
        {% endif %}

        Page {{ page_obj.number}} of {{page_obj.paginator.num_pages}}

        {% if page_obj.has_next %}
            <a href="?page = {{page_obj.next_page_number}}">Next Page</a>
        {% endif %}
    </span>
    </div>
</div>
{% endblock %}