{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block main %}

<main role="main" class="container center-block">
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ developer.profile.image.url }}">
            <div class="media-body">
                <h2 class="account-heading">{{ developer.name }}</h2>
                <p class="text-secondary">{{ developer.email }}</p>
                    {% if developer != user %}
                    <a href="{% url 'follow' developer.uID %}" class="btn-ff {%if developer in user.follow.all %} active {%endif%}">follow</a>
                    {% endif %}
                    <a href="{% url 'inv_projects' developer.uID%}">초대</a>
            </div>
        </div>
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">프로필 정보</legend>
            <p class="article-content">Portfolio: {{ developer.portfolio }}</p>
            <p class="article-content">Projects: </p>
            {% for participating_project in developer.member_of.all %}
                <a href="project/{{ participating_project.pID }}">{{ participating_project.name }}</a>
                <!-- TODO: 프로젝트 참여 정보 간단히 -->
            {% empty %}
            <div>
                아무 프로젝트에도 참여하지 않고 있습니다.
            </div>
            {% endfor %}
        </fieldset>
    </div>
</main>
{% endblock %}