{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block main %}


<main role="main" class="container center-block">
    <div class="content-section">
        <div class="media">
            <div class="media-body">
                <h2 class="account-heading">{{ project.name }}</h2>
                <p class="text-secondary">{{ project.purpose }}</p>
                <button type="submit" class="btn btn-primary">Follow</button>
            </div>
        </div>
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">프로필 정보</legend>
            <p class="article-content">Portfolio: {{ project.output }}</p>
            <p class="article-content">Projects: </p>
        </fieldset>
    </div>
</main>
{% endblock %}