{% extends "MODU/base.html" %}
<!--실행 전에 cmd에 pip install django-crispy forms-->
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">로그인하세요!</legend>
                {{form|crispy}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">계정이 없으신가요? <a class="ml-2" href="#">Sign Up</a>
            </small>
        </div>
    </div>
{% endblock content %}