{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block main %}
<main role="main" class="container-fluid col-6 center-block">
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">포트폴리오를 편집하세요!</legend>
                {{form|crispy}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">편집하기</button>
            </div>
        </form>
    </div>
</main>
{% endblock %}