{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block main %}
<main role="main" class="container center-block">
    <div class="row">
        <form class="form-inline ml-auto" action="" method="GET">
            {{ form|crispy }}
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    <div class="row">
        {% for developer in page_obj %}
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <form class="form-inline">
                            <a class="mr-2" href="/developer/{{ developer.uID }}">{{ developer.name }}</a>
                            <button type="submit" class="btn btn-primary ml-auto">Follow</button>
                        </form>
                    </div>
                    <p class="article-content">학과: {{ developer.major }}</p>
                    <p class="article-content">사용 언어: {{ developer.languages }}</p>
                </div>
            </article>
        </div>
        {% empty %}
        <div>
            Empty Result.
        </div>
        {% endfor %}
    </div>

    <div class="row center-block">
        <ul class="pagination center-block ml-auto mr-auto">
            {% if page_obj.has_previous %}
            <li><a class="page-link" href="?page=1">First</a></li>
            {% else %}
            <li><span class="page-link">First</span></li>
            {% endif %}

            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">Previous</span></li>
            {% endif %}

            <li class="page-item active"><span class="page-link">{{ page_obj.number }}<span class="sr-only">(current)</span></span></li>

            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">Next</span></li>
            {% endif %}

            {% if page_obj.has_next %}
            <li><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
            {% else %}
            <li><span class="page-link">Last</span></li>
            {% endif %}
        </ul>
    </div>
</main>
{% endblock %}