{% extends "searchProject/base2.html" %}

{% block content %}
    <article class="media content-section">
        <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ developer.profile_image_path }}</a>
            <small class="text-muted">{{ developer.name}}</small>
        </div>
        <p class="article-content">{{ developer.portfolio }}</p>
        <p class="article-content">Duration: {{developer.proposed_projects}}</p>
        </div>
{% endblock content %}